.DS_Store
*.swp
/.vs/github.io/FileContentIndex/1eae690f-fe65-49cb-a18e-bc7883ee1271.vsidx
/.vs/github.io/FileContentIndex/c44b66d2-8a64-4374-ac33-c18a2bd026d5.vsidx
/.vs/github.io/FileContentIndex/6a7cbb4e-617a-4eff-967b-f0a3d3b3c79c.vsidx
